@charset "UTF-8";
.select_block {
  margin-left: 50px; }
  @media (max-width: 1139px) {
    .select_block {
      width: 280px;
      margin-left: 0px;
      margin: auto; } }
  .select_block select {
    background: url(../images/dropdown_icon.png) no-repeat;
    background-size: 20px 11px;
    background-position: 310px 18px;
    display: inline-block;
    font-family: "微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B", "儷黑 Pro";
    color: #000000;
    width: 350px;
    height: 46px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 7px 16px;
    background-color: white;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin-top: 13px;
    font-size: 16px; }
    .select_block select:focus {
      outline: none; }
    @media (max-width: 1139px) {
      .select_block select {
        width: 280px;
        background-position: 240px 18px; } }

.slick_block {
  width: 450px;
  margin-top: 30px; }
  @media (max-width: 1139px) {
    .slick_block {
      margin: auto;
      margin-top: 25px; } }
  @media (max-width: 649px) {
    .slick_block {
      width: 280px; } }
  @media (max-width: 400px) {
    .slick_block {
      width: 250px; } }
  .slick_block ul.slick_product {
    margin: 0 auto; }
    .slick_block ul.slick_product .slick-prev, .slick_block ul.slick_product .slick-next {
      background-image: url(../images/icon_move.png);
      height: 68px;
      width: 18px;
      background-size: cover; }
      .slick_block ul.slick_product .slick-prev::before, .slick_block ul.slick_product .slick-next::before {
        color: transparent; }
    .slick_block ul.slick_product .slick-next {
      background-image: url(../images/icon_move_next.png); }
    .slick_block ul.slick_product li {
      width: auto !important;
      display: inline-block;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      .slick_block ul.slick_product li a {
        outline: none;
        text-decoration: none;
        display: block;
        overflow: hidden;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        .slick_block ul.slick_product li a:hover img {
          -moz-transform: scale(1.1);
          -webkit-transform: scale(1.1);
          -o-transform: scale(1.1);
          -ms-transform: scale(1.1);
          transform: scale(1.1);
          -webkit-transition-duration: .2s;
          -o-transition-duration: .2s;
          transition-duration: .2s; }
        .slick_block ul.slick_product li a img {
          height: 120px;
          margin-bottom: 20px; }
        .slick_block ul.slick_product li a p {
          color: black;
          text-align: center; }

.product_block {
  margin-top: 120px; }
  @media (max-width: 1139px) {
    .product_block {
      margin-top: 60px; } }
  .product_block .left_block {
    float: left;
    width: 50%; }
    @media (max-width: 1139px) {
      .product_block .left_block {
        float: none;
        width: auto; } }
    .product_block .left_block h6 {
      text-align: center;
      font-size: 48px; }
      @media (max-width: 1139px) {
        .product_block .left_block h6 {
          font-size: 36px; } }
    .product_block .left_block .product_img_block {
      width: 393px;
      height: 497px;
      background-image: url(../slick/images/img-uf-2@3x.png);
      background-size: contain;
      display: block;
      margin: auto; }
      @media (max-width: 1139px) {
        .product_block .left_block .product_img_block {
          width: 207px;
          height: 313px;
          background-size: cover;
          background-position: 35%; } }
    .product_block .left_block p {
      font-size: 16px;
      color: #f74e4e;
      text-align: center;
      margin-top: 15px; }
  .product_block .right_block {
    float: left;
    width: 50%; }
    @media (max-width: 1139px) {
      .product_block .right_block {
        float: none;
        width: auto;
        margin-top: 15px; } }
    .product_block .right_block .product_style_block a.color_phone {
      display: none;
      width: 415px;
      height: 65px;
      background-color: #e6e6e6;
      border: none;
      font-size: 20px;
      position: relative;
      text-decoration: none;
      color: black;
      font-weight: bold;
      padding: 25px 15px;
      padding-top: 20px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      position: relative; }
      @media (max-width: 1139px) {
        .product_block .right_block .product_style_block a.color_phone {
          display: block;
          width: 100%;
          font-size: 18px; } }
      .product_block .right_block .product_style_block a.color_phone img {
        position: absolute;
        width: 12px;
        height: 22px;
        top: 20px;
        right: 27px; }
    .product_block .right_block .product_style_block ul {
      float: right;
      margin-bottom: 25px; }
      @media (max-width: 1139px) {
        .product_block .right_block .product_style_block ul {
          float: none; } }
      .product_block .right_block .product_style_block ul li {
        position: relative;
        margin-top: 10px; }
        .product_block .right_block .product_style_block ul li a {
          width: 424px;
          height: 52px;
          display: block;
          background-color: #e6e6e6;
          border: none;
          font-size: 20px;
          position: relative;
          text-decoration: none;
          color: black;
          font-weight: bold;
          padding: 16px 15px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box; }
          @media (max-width: 1139px) {
            .product_block .right_block .product_style_block ul li a {
              width: 100%;
              font-size: 18px; } }
          .product_block .right_block .product_style_block ul li a i {
            position: absolute;
            font-size: 40px;
            top: 10px;
            right: 25px; }
        .product_block .right_block .product_style_block ul li .color_block {
          border: solid 1px #e6e6e6;
          -webkit-box-sizing: border-box;
          box-sizing: border-box; }
          @media (max-width: 1139px) {
            .product_block .right_block .product_style_block ul li .color_block {
              width: 100%; } }
          .product_block .right_block .product_style_block ul li .color_block #product_ul::-webkit-scrollbar {
            width: 12px;
            background-color: #F5F5F5; }
          .product_block .right_block .product_style_block ul li .color_block #product_ul::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #9e9e9e; }
          .product_block .right_block .product_style_block ul li .color_block ul {
            float: none;
            font-size: 20px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            padding: 15px 0 0;
            margin-bottom: 0;
            height: 570px;
            box-sizing: border-box;
            overflow: auto;
            overflow-y: scroll;
            overflow-x: hidden; }
            @media (max-width: 1139px) {
              .product_block .right_block .product_style_block ul li .color_block ul {
                display: none;
                font-size: 18px;
                white-space: nowrap;
                padding-left: 15px;
                padding-right: 15px;
                overflow-y: hidden;
                overflow-x: auto;
                padding-bottom: 50px; } }
            .product_block .right_block .product_style_block ul li .color_block ul li {
              height: 140px;
              border-bottom: 1px solid #e6e6e6;
              padding-left: 60px;
              padding-right: 80px; }
              .product_block .right_block .product_style_block ul li .color_block ul li p {
                font-size: 16px;
                margin-bottom: 24px; }
                .product_block .right_block .product_style_block ul li .color_block ul li p span {
                  font-size: 12px; }
              @media (max-width: 1139px) {
                .product_block .right_block .product_style_block ul li .color_block ul li {
                  display: inline-block;
                  margin: auto 20px; } }
              .product_block .right_block .product_style_block ul li .color_block ul li .color_circle {
                float: left;
                vertical-align: top;
                width: 30px;
                height: 30px;
                border-radius: 100%;
                margin-right: 15px;
                margin-bottom: 15px; }
                @media (max-width: 1139px) {
                  .product_block .right_block .product_style_block ul li .color_block ul li .color_circle {
                    float: none;
                    margin: auto;
                    margin-top: 10px; } }
                .product_block .right_block .product_style_block ul li .color_block ul li .color_circle p {
                  position: absolute;
                  top: 40px;
                  left: 5px; }
            .product_block .right_block .product_style_block ul li .color_block ul :nth-last-child(1) {
              margin-bottom: 0px; }
        .product_block .right_block .product_style_block ul li .other_block {
          border: solid 1px #e6e6e6;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          padding: 32px 25px;
          padding-bottom: 5px; }
          @media (max-width: 1139px) {
            .product_block .right_block .product_style_block ul li .other_block {
              width: 100%; } }
          @media (max-width: 1139px) {
            .product_block .right_block .product_style_block ul li .other_block .select_other_block {
              text-align: center; } }
          .product_block .right_block .product_style_block ul li .other_block .select_other_block select {
            margin-left: 40px;
            background: url(../images/dropdown_icon.png) no-repeat;
            background-size: 20px 11px;
            background-position: 160px 11px;
            display: inline-block;
            font-family: "微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B", "儷黑 Pro";
            color: #000000;
            width: 200px;
            height: 35px;
            border: 1px solid black;
            border-radius: 10px;
            padding: 7px 16px;
            background-color: white;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            margin-top: 13px;
            font-size: 16px; }
            @media (max-width: 1139px) {
              .product_block .right_block .product_style_block ul li .other_block .select_other_block select {
                margin-left: 0px; } }
            .product_block .right_block .product_style_block ul li .other_block .select_other_block select:focus {
              outline: none; }
          .product_block .right_block .product_style_block ul li .other_block .caliper_selsect {
            margin-bottom: 5px; }
        .product_block .right_block .product_style_block ul li .item_block {
          border: solid 1px #e6e6e6;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          padding: 32px 25px;
          padding-bottom: 5px; }
          @media (max-width: 1139px) {
            .product_block .right_block .product_style_block ul li .item_block {
              width: 100%; } }
          .product_block .right_block .product_style_block ul li .item_block h2 {
            font-size: 20px;
            margin-bottom: 20px; }
          .product_block .right_block .product_style_block ul li .item_block .select_item_block {
            padding-left: 15px; }
            .product_block .right_block .product_style_block ul li .item_block .select_item_block .lable_no {
              margin-left: 0px !important; }
        .product_block .right_block .product_style_block ul li .select_other_block {
          margin-bottom: 30px;
          position: relative; }
          @media (max-width: 530px) {
            .product_block .right_block .product_style_block ul li .select_other_block {
              margin-bottom: 40px; } }
          .product_block .right_block .product_style_block ul li .select_other_block .radio_box {
            width: 200px;
            display: inline-block;
            text-align: left;
            margin-left: 40px; }
            @media (max-width: 1139px) {
              .product_block .right_block .product_style_block ul li .select_other_block .radio_box {
                margin-left: 0px;
                margin-top: 13px; } }
          .product_block .right_block .product_style_block ul li .select_other_block p {
            display: inline-block;
            font-size: 20px;
            width: 110px; }
            @media (max-width: 1139px) {
              .product_block .right_block .product_style_block ul li .select_other_block p {
                font-size: 18px;
                text-align: left; } }
            @media (max-width: 530px) {
              .product_block .right_block .product_style_block ul li .select_other_block p {
                position: absolute;
                top: -15px;
                width: auto;
                margin-right: 10px; } }
          .product_block .right_block .product_style_block ul li .select_other_block input[type="radio"] {
            display: none; }
          .product_block .right_block .product_style_block ul li .select_other_block input[type="radio"] + label {
            margin-left: 10px;
            position: relative;
            display: inline-block;
            width: 16px;
            height: 16px;
            margin: -2px 3px 0 0;
            vertical-align: middle;
            cursor: pointer;
            border: solid 1px black;
            border-radius: 100%; }
          .product_block .right_block .product_style_block ul li .select_other_block input[type="radio"]:checked + label:after {
            position: absolute;
            content: "";
            display: block;
            left: 0px;
            top: 0px;
            width: 11px;
            height: 11px;
            border: solid black;
            border-radius: 100%;
            background-color: black; }
          .product_block .right_block .product_style_block ul li .select_other_block input[type="text"] {
            width: 160px;
            height: 35px;
            border-radius: 10px;
            border: solid 1px black;
            padding: 7px 16px;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            outline: none;
            margin-left: 40px;
            font-size: 16px; }
            @media (max-width: 1139px) {
              .product_block .right_block .product_style_block ul li .select_other_block input[type="text"] {
                margin-left: 0px; } }
            @media (max-width: 1139px) {
              .product_block .right_block .product_style_block ul li .select_other_block input[type="text"] {
                margin-top: 13px; } }
          .product_block .right_block .product_style_block ul li .select_other_block .lable_no {
            margin-left: 45px !important; }
          .product_block .right_block .product_style_block ul li .select_other_block .lable_yes {
            margin-left: 20px !important; }
      @media (max-width: 1139px) {
        .product_block .right_block .product_style_block ul li.color_desktop {
          display: none; } }

.process_block {
  height: 140px;
  width: 400px;
  margin: 140px auto 0; }
  @media (max-width: 530px) {
    .process_block {
      width: 100%;
      height: 140px; } }
  .process_block ul {
    height: 100%;
    width: 400px;
    margin-left: 40px; }
    @media (max-width: 530px) {
      .process_block ul {
        width: 310px;
        margin: 0 auto;
        padding-left: 50px; } }
    @media (max-width: 400px) {
      .process_block ul {
        padding-left: calc((100% - 260px) / 2);
        width: auto; } }
    .process_block ul li {
      width: 96px;
      height: 100%;
      display: inline-block;
      vertical-align: top; }
      @media (max-width: 530px) {
        .process_block ul li {
          width: 76px; } }
      @media (max-width: 400px) {
        .process_block ul li {
          width: 70px; } }
      .process_block ul li p.step {
        padding-top: 14px;
        padding-left: 18px; }
        @media (max-width: 530px) {
          .process_block ul li p.step {
            padding-top: 8px;
            padding-left: 12px;
            font-size: 12px; } }
      .process_block ul li p.step_title {
        padding-top: 27px; }
        @media (max-width: 530px) {
          .process_block ul li p.step_title {
            font-size: 10px; } }
    .process_block ul li.circle_1 {
      background: url(../images/process_gray.png) no-repeat;
      background-size: 45px 45px;
      background-position: 0px 0px; }
      @media (max-width: 530px) {
        .process_block ul li.circle_1 {
          background-size: 30px 30px; } }
    .process_block ul li.circle_2, .process_block ul li.circle_3, .process_block ul li.circle_4 {
      background: url(../images/process_hallow2.png) no-repeat;
      background-size: 50px 50px;
      background-position: -4px -3px; }
      @media (max-width: 530px) {
        .process_block ul li.circle_2, .process_block ul li.circle_3, .process_block ul li.circle_4 {
          background-size: 35px 35px;
          background-position: -2px -2px; } }
      .process_block ul li.circle_2 p.step_title, .process_block ul li.circle_3 p.step_title, .process_block ul li.circle_4 p.step_title {
        margin-left: -10px; }
        @media (max-width: 530px) {
          .process_block ul li.circle_2 p.step_title, .process_block ul li.circle_3 p.step_title, .process_block ul li.circle_4 p.step_title {
            background-size: 35px 35px;
            background-position: -2px -2px; } }
    .process_block ul li.circle_1 p.step {
      color: black; }
    .process_block ul li.circle_1 p.step_title {
      margin-left: -18px; }
      @media (max-width: 530px) {
        .process_block ul li.circle_1 p.step_title {
          margin-left: -14px; } }
    .process_block ul li.circle_2 p.step {
      color: #d8d8d8; }
    .process_block ul li.circle_2 p.step_title {
      margin-left: -24px; }
      @media (max-width: 530px) {
        .process_block ul li.circle_2 p.step_title {
          margin-left: -20px; } }
    .process_block ul li.circle_3 p.step {
      color: #d8d8d8; }
    .process_block ul li.circle_4 {
      position: relative; }
      @media (max-width: 530px) {
        .process_block ul li.circle_4 {
          width: 70px; } }
      @media (max-width: 400px) {
        .process_block ul li.circle_4 {
          width: 38px; } }
      .process_block ul li.circle_4 img {
        position: absolute;
        width: 27px;
        height: 20px;
        top: 12px;
        left: 8px; }
        @media (max-width: 530px) {
          .process_block ul li.circle_4 img {
            width: 15px;
            height: 11px;
            top: 10px; } }
      .process_block ul li.circle_4 p.step_title2 {
        padding-top: 57px;
        margin-left: -10px; }
        @media (max-width: 530px) {
          .process_block ul li.circle_4 p.step_title2 {
            font-size: 10px;
            padding-top: 47px; } }
    .process_block ul li.circle_1, .process_block ul li.circle_2, .process_block ul li.circle_3 {
      position: relative; }
      .process_block ul li.circle_1 img, .process_block ul li.circle_2 img, .process_block ul li.circle_3 img {
        position: absolute;
        top: 20px;
        left: 50px;
        width: 46px; }
        @media (max-width: 530px) {
          .process_block ul li.circle_1 img, .process_block ul li.circle_2 img, .process_block ul li.circle_3 img {
            top: 14px;
            left: 32px; } }
        @media (max-width: 400px) {
          .process_block ul li.circle_1 img, .process_block ul li.circle_2 img, .process_block ul li.circle_3 img {
            width: 40px; } }
    .process_block ul p.title_gray {
      color: #d8d8d8; }

.link_block {
  margin: 0 auto;
  width: 268px;
  padding-bottom: 0; }
  @media (max-width: 1024px) {
    .link_block {
      width: 268px;
      padding-bottom: 50px; } }
  .link_block a {
    display: inline-block;
    height: 60px;
    text-decoration: none;
    position: relative; }
    @media (max-width: 1024px) {
      .link_block a {
        display: block;
        margin-right: 0; } }
    .link_block a img {
      width: 15px;
      height: 26px;
      position: absolute;
      top: 18px;
      left: 50px; }
  .link_block a.back {
    border: solid 1px #000000;
    background-color: white;
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    letter-spacing: normal;
    color: #000000;
    margin-right: 413px;
    width: 268px;
    padding-left: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 1024px) {
      .link_block a.back {
        display: none; } }
  .link_block a.makesure {
    background-color: black;
    font-size: 24px;
    font-weight: bold;
    line-height: 60px;
    text-align: center;
    letter-spacing: normal;
    color: white;
    width: 268px;
    padding-left: 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media (max-width: 1024px) {
      .link_block a.makesure {
        padding-left: 0;
        padding-right: 50px; } }
    @media (max-width: 1024px) {
      .link_block a.makesure img {
        left: 220px; } }
  .link_block a.back_phone {
    display: none; }
    @media (max-width: 1024px) {
      .link_block a.back_phone {
        display: block;
        border: solid 1px #000000;
        background-color: white;
        font-size: 24px;
        font-weight: bold;
        line-height: 60px;
        text-align: center;
        letter-spacing: normal;
        color: #000000;
        margin-right: 0px;
        width: 268px;
        padding-left: 30px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-top: 25px; }
        .link_block a.back_phone img {
          left: 30px; } }

.style-2::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5; }

.style-2::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5; }

.style-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #e6e6e6; }
