.color_circle2 {
  float: left;
  vertical-align: top;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  margin-right: 20px;
  margin-bottom: 15px; }
  .color_circle2 p {
    position: absolute;
    top: 40px;
    left: 5px; }

.container_block {
  overflow: hidden;
  position: relative;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 999; }
  .container_block .product_img_block {
    width: 207px;
    height: 206px; }
    @media (max-width: 530px) {
      .container_block .product_img_block {
        height: 40%;
        padding-top: 30px; } }

.color_block {
  padding-left: 30px;
  padding-right: 30px; }
  .color_block ul {
    height: calc(50% - 250px);
    padding-left: 0;
    overflow: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 15px; }
    .color_block ul li {
      border: 1px solid #e6e6e6;
      height: 140px;
      padding: 10px 10px 10px;
      list-style: none; }
      .color_block ul li p {
        font-size: 16px;
        margin-bottom: 24px; }
        @media (max-width: 767px) {
          .color_block ul li p {
            font-size: 32px; } }
        .color_block ul li p span {
          font-size: 12px; }
          @media (max-width: 767px) {
            .color_block ul li p span {
              font-size: 28px; } }

@media (max-width: 530px) {
  #img_colorpage {
    height: 40%;
    padding-top: 30px; } }

@media (max-width: 530px) {
  #page_finish {
    height: 100px; }
    #page_finish a {
      height: 100px;
      line-height: 100px; } }
