.subtitle_block{
    margin:0 auto;
    width:1280px;
    height: 258px;
    background: url(../images/img-bg-about@3x.png) no-repeat;
    background-size: 1280px auto;
    background-position: 0 0px;
    a{
        display:inline-block;
        text-decoration: none;
        font-size: 16px;
        color:white;
        margin-top: 26px;
        &:first-child{
            margin-left: 52px;
        }
    }
    span{
        display: inline-block;
        color: white;
        margin: 0 4px;
    }
    h1{
        width: 249px;
        height: 74px;
        //font-family: MicrosoftJhengHei;
        font-size: 60px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2px;
        color: white;
        margin-top: 45px;
        margin-left: 225px;
    }
}
.content_block{
    width: 792px;
    font-size: 24px;
    margin:65px auto 27px;
    p{
        line-height: normal;
    }
    img{
        width:792px;
        height:auto;
        margin:27px auto 140px;
    }
}