@import "base";
.subtitle_block{
    margin:0 auto;
    //width:1280px;
    height: 258px;
    background: url(../images/img-bg-about@3x.png) no-repeat;
    background-size: 1280px auto;
    background-position: 0 0px;
    max-width: 1280px;
    width:100%;
    @include susy-breakpoint(('min-width':1280px)){
        padding-top: 105px;
        background-position: 0px 105px;
    }
    @include susy-breakpoint($desktop-min-width-x){
        background-size:100% auto;
    }
    @include susy-breakpoint($small_desktop-x){
        height: auto;
        margin-bottom: 25px;
    }
    @include susy-breakpoint(('max-width':430px)){
        padding-bottom: 10px;
    }
    a{
        display:inline-block;
        text-decoration: none;
        font-size: 16px;
        color:white;
        margin-top: 26px;
        @include susy-breakpoint($small_screen){
            margin-top: 11px;
        }
        &:first-child{
            margin-left: 52px;
            border-bottom: 1px solid white;
            @include susy-breakpoint($small_screen){
                margin-left: 14px;
            }
        }
        @include susy-breakpoint($small_screen){
            font-size: 12px;
        }
    }
    span{
        display: inline-block;
        color: white;
        margin: 0 4px;
    }
    h1{
        width: 249px;
        height: 74px;
        //font-family: MicrosoftJhengHei;
        font-size: 60px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: 2px;
        color: white;
        margin-top: 45px;
        margin-left: 225px;
        @include susy-breakpoint($small_desktop-x){
            font-size: 24px;
            margin-top: 26px;
        }
        @include susy-breakpoint($small_screen){
            margin-left: auto;
            text-align: center;
            width: auto;
        }
        @include susy-breakpoint(('max-width':430px)){
            font-size:20px;
            height:auto;
            margin-top: 0px;
        }
    }
}
.content_block{
    width: 792px;
    font-size: 24px;
    margin:65px auto 27px;
    @include susy-breakpoint($small_desktop-x){
        width: 90%;
        margin: 0px auto 27px;
    }
    p{
        line-height: normal;
        @include susy-breakpoint($small_desktop-x){
            font-size:16px;
        }
    }
    img{
        width:792px;
        height:auto;
        margin:27px auto 140px;
        @include susy-breakpoint($small_desktop-x){
            width:100%;
        }
        @include susy-breakpoint($small_screen){
            margin:27px auto 50px;
        }
    }
}