@import "_base";

.color_circle2{
    float: left;
    vertical-align: top;
    width: 45px;
    height: 45px;
    border-radius: 100%;
    margin-right:20px;
    margin-bottom: 15px;

    // @include susy-breakpoint($desktop-x){
    //    float: none;
    //    margin: auto;
    //    margin-top: 10px;
    // }
    p{
        position: absolute;
        top: 40px;
        left: 5px;
    }
}
.container_block{
    overflow: hidden;
    position:relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    .product_img_block{
        width:207px;
        height:206px;
        @include susy-breakpoint($small_screen){
            height: 40%;
            padding-top:30px;
        }
    }
}
.color_block{
    padding-left: 30px;
    padding-right:30px;
    ul{
        //height: 374px;
        height: calc(50% - 250px);
        padding-left: 0;
        overflow: auto;
        overflow-y: scroll;
        overflow-x: hidden;
        margin-top:15px;

        li{
            border: 1px solid #e6e6e6;
            height:140px;
            padding:10px 10px 10px;
            list-style:none;
            p{
                font-size:16px;
                margin-bottom: 24px;
                @include susy-breakpoint($mid-pad-x){
                    font-size:32px; 
                }
                span{
                    font-size:12px;
                    @include susy-breakpoint($mid-pad-x){
                        font-size:28px; 
                    }
                }
            }
        }
    }
}
#img_colorpage{
    @include susy-breakpoint($small_screen){
        height: 40%;
        padding-top:30px;
    }
}
#page_finish{
    @include susy-breakpoint($small_screen){
        height:100px;
        a{
            height:100px;
            line-height: 100px;
        }
    }
}