@import "base";

.panel{
    margin:0 auto;
    .block1{
        margin: 0 auto;
        //width: 1280px;
        max-width: 1280px;
        width: 100%;
        .block1_logo{
            width:358px;
            height:90px;
            margin-right: 107px;
            float:right;
            background:url(../images/img-logo@3x.png) no-repeat;
            background-size:358px 90px;
            background-position: 0px 0;
            @include susy-breakpoint($small_desktop-x){
                display:none;
            }
        }
        .block1_leftside{
            float: left;
            margin-top: 130px;
            background:url(../images/img-bg-homepage@3x.png) no-repeat;
            background-size:680px 330px;
            background-position: 0px 0;
            width:680px;
            height:330px;
            @include susy-breakpoint(('max-width':1161px)){
                margin-top: 20px;
            }
            @include susy-breakpoint($small_desktop-x){
                margin-top: 0px;
                width: 60%;
                height: auto;
                min-height: 200px;
                background-size: contain;
            }
            @include susy-breakpoint($mid-pad-x){
                background-size: cover;
            }
        }
        .block1_leftside_phone{
            @include susy-breakpoint($small_desktop-x){
                float: left;
            }
            h3.block1_content_phone{
                width: 70%;
                font-size: 20px;
                margin:15px auto 32px;
                line-height: 26px;
                display:none;
                @include susy-breakpoint($small_desktop-x){
                    display:block;
                }
            }
        }
        .block1_rightside{
            float: right;
            margin-top: 127px;
            margin-right: 50px;
            background:url(../images/img-bg-homepage-2@3x.png) no-repeat;
            background-size:453px 460px;
            background-position: 0px 0;
            width:453px;
            height:460px;
            @include susy-breakpoint($small_desktop-x){
                margin-top: 0px;
                background-size: contain;
                width: 60%;
                height: auto;
                min-height: 200px;
            }
            h3.block1_content{
                width: 515px;
                font-size: 20px;
                margin-top: 308px;
                margin-left: -406px;
                line-height: 26px;
                @include susy-breakpoint($small_desktop-x){
                    display:none;
                }
            }
        }
    }
    .block2{
        background:url(../images/block2_bg.png) no-repeat;
        background-size:1280px 676px;
        background-position: 0px 0;
        //width:1280px;
        height:676px;
        margin:0 auto;
        max-width: 1280px;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        width: auto;
        max-width: 1280px;
        @include susy-breakpoint($small_desktop-x){
            //width:100%;
            background-size: cover;
        }
        ul.slick_title{
            width:520px;
            margin:0 auto;
            padding-top: 50px;
            padding-bottom: 39px;
            @include susy-breakpoint($mid-pad-x){
                width:400px;
            }
            li{
                display:inline-block;
                margin-right: 56px;
                &:last-child{
                    margin-right: 0;
                }
                @include susy-breakpoint($mid-pad-x){
                    margin-right: 11px;
                }
                a{
                    display:block;
                    text-decoration: none;
                    color:#000000;
                    padding-bottom:7px;
                    border-bottom:2px solid #efefef;
                    font-size: 20px;
                    letter-spacing: 1px;
                    &:hover{
                        border-bottom: 2px solid #000000;
                    }
                    &.active{
                        border-bottom: 2px solid #000000;
                    }
                }
            }
        }
        ul.slick_content{
            width: 1060px;
            margin:0 auto;
            display:none;
            @include susy-breakpoint($pad-x){
                width:90%;
            }
            // @include susy-breakpoint($small_desktop-x){
            //     width:100%;
            // }
            li{
                width:230px;
                height:497px;
                display:inline-block;
                //background-color: white;
                margin-left: 25px;
                box-sizing: border-box;
                @include susy-breakpoint($pad-x){
                    height: 273px;
                }
                a{
                    text-decoration: none;
                    display:block;
                    height: 100%;
                    width:230px;
                    overflow: hidden;
                    padding-top: 35px;
                    box-sizing: border-box;
                    background-color: white;
                    @include susy-breakpoint($pad-x){
                        width:126px;
                    }
                    // @include susy-breakpoint($small_desktop-x){
                    //     width:126px;
                    // }
                    &:hover{
                        img{
                            -moz-transform: scale(1.1);
                            -webkit-transform: scale(1.1);
                            -o-transform: scale(1.1);
                            -ms-transform: scale(1.1);
                            transform: scale(1.1);
                            -webkit-transition-duration: .2s;
                            -o-transition-duration: .2s;
                            transition-duration: .2s;  
                        }
                    }
                    img{
                        width: 230px;
                        height: 292px;
                        margin-left: calc((100% - 230px) / 2);
                        @include susy-breakpoint($pad-x){
                            width: 126px;
                            height: 161px;
                            margin-left: calc((100% - 126px) / 2);
                        }
                        // @include susy-breakpoint($small_desktop-x){
                        //     width: 126px;
                        //     height: 161px;
                        //     margin-left: calc((100% - 126px) / 2);
                        // }
                    }
                    p{
                        color: black;
                        text-align: center;
                        margin-top: 62px;
                        @include susy-breakpoint($pad-x){
                            margin-top: 30px;
                        }
                    }
                }
                
            }
        }
        ul.slick_content{
            display:none;
            &.active{
                display:block;
            }
        }
    }
    .block3{
        margin-top: 51px;
        width: 920px;
        //height: 456px;
        margin: 51px auto 140px;
        height: auto;
        min-height: 456px;
        @include susy-breakpoint($small_desktop-x){
            width: 100%;
            padding: 0 15px;
            box-sizing: border-box;
        }
        @include susy-breakpoint($small_screen){
            min-height: 183px;
            box-sizing: border-box;
            margin-bottom: 51px;
        }
        h2{
            font-size: 48px;
            color: #000000;
            font-weight: bold;
            letter-spacing: 2px;
            margin-bottom: 26px;
            @include susy-breakpoint($small_screen){
                font-size: 24px;
            }
        }
        ul{
            background-color: #000000;
            color: white;
            padding: 69px 69px;
            width: 100%;
            height:auto;
            position: relative;
            box-sizing: border-box;
            @include susy-breakpoint($small_screen){
                padding: 15px;
                box-sizing: border-box;
            }
            li{
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 40px;
                @include susy-breakpoint($small_screen){
                    font-size: 16px;
                    margin-bottom: 25px;
                }
                a{
                    text-decoration: none;
                    display: block;
                    color: white;
                    padding-bottom: 20px;
                    max-width: 320px;
                    border-bottom: 1px solid black;
                    span{
                        margin-left: 60px;
                        font-weight: initial;
                    }
                    &:hover{
                        border-bottom: 1px solid white;
                    }
                }
            }
            a.more_news{
                text-decoration: none;
                display: block;
                color: white;
                border-bottom: 1px solid white;
                width: 64px;
                height: 20px;
                position: absolute;
                right: 59px;
                bottom: 28px;
                
            }
            a.more_news_arrow{
                text-decoration: none;
                display: block;
                background:url(../images/icon-move-xs-white@2x.png) no-repeat;
                background-size:8px 16px;
                background-position: 0px 0;
                right: 28px;
                bottom: 28px;
                width: 8px;
                height: 16px;
                position: absolute;
                bottom: 30px;
            }
        }
    }
}