@import "base";

.content_block{
    max-width:1280px;
    width: auto;
    height:auto;
    font-size: 20px;
    margin: 30px auto 140px;
    padding:0 15px;
    @include susy-breakpoint(('max-width':722px)){
        margin: 30px auto 50px;
    }
    .product_leftside{
        float:left;
        width:40%;
        padding-left: 100px;
        box-sizing: border-box;
        @include susy-breakpoint(('max-width':1160px)){
            padding-left: 4%;
        }
        @include susy-breakpoint($small_desktop-x){
            width: auto;
        }
        @include susy-breakpoint(('max-width':722px)){
            float: none;
            margin: 0 auto;
            //width: 80%;
            width: auto;
            padding-left: 8%;
        }
        @include susy-breakpoint($small_screen){
            width: auto;
        }
        .leftside_photo{
            width:72px;
            display: inline-block;
            float: left;
            margin-right: 20px;
            a{
                text-decoration: none;
                display:block;
                border:0.5px solid white;
                margin-bottom: 16px;
                box-sizing: border-box;
                height: 155px;
                &:hover,&.active{
                    border: 0.5px solid #858585;
                    border-top: 0.5px solid #858585;
                }  
                img{
                    width:70px;
                    height:88.5px;
                    padding-top:0.5px;
                    padding-top: 33px;
                    padding-left: 0.5px;
                }
                &:nth-child(2){
                    border-top: 0.5px solid white;
                    &:hover,&.active{
                        border-top: 0.5px solid #858585;
                    }
                }
            }
        }
        .rightside_photo{
            display:inline-block;
            float: left;
            height: 495px;
            border: solid 1px #858585;
            img{
                display:none;
                width:230px;
                height:291px;
                padding-top: 103px;
                @include susy-breakpoint($iphone_se){
                    width:170px;
                }
                &.active{
                    display:block;
                }
            }
        }
    }
    .product_rightside{
        float:left;
        @include susy-breakpoint($small_desktop-x){
            width: 45%;
            margin-left: 20px;
        }
        @include susy-breakpoint(('max-width':722px)){
            width:auto;
        }
        h1{
            font-size: 48px;
            line-height: normal;
            margin-bottom: 28px;
            @include susy-breakpoint($small_screen){
                font-size: 24px;
                padding-left: 200px;
            }
            @include susy-breakpoint($iphone_se){
                padding-left: 160px;
            }
        }
        h2{
            font-size: 20px;
            line-height: normal;
            margin-bottom: 18px;
            @include susy-breakpoint($small_screen){
                font-size: 16px;
            }
            
        }
        a.download{
            background:url(../images/icon-pdf-download@2x.png) no-repeat;
            background-size:30px 30px;
            background-position: 0px 0;
            text-decoration: none;
            display:block;
            width:140px;
            height:30px;
            color: black;
            padding-left: 40px;
            @include susy-breakpoint($small_screen){
                font-size: 16px;
            }
            span{
                border-bottom: 1px solid black;
                font-size: 16px;
                line-height: normal;
            }
        }
        a.choose_color{
            width: 268px;
            height: 60px;
            border: 1px solid black;
            text-decoration: none;
            display: block;
            font-size: 24px;
            font-weight: bold;
            line-height: normal;
            letter-spacing: normal;
            padding: 14px 0 14px 59px;
            box-sizing: border-box;
            margin-top: 38px;
            color: black;
            
            background:url(../images/icon-move-m@2x.png) no-repeat;
            background-size:13px 26px;
            background-position: 197px 18px;
            @include susy-breakpoint($small_screen){
                margin-top: 15px;
            }
        }
    }  
}