@import "base";
.content_block{
    width: 920px;
    height:auto;
    font-size: 20px;
    margin: 30px auto 0px;
    @include susy-breakpoint($small_desktop-x){
        width: 100%;
    }   
    .title_menu{
        width:100%;
        height: 112px;
        background-color: #000000;
        margin-top: 60px;
        @include susy-breakpoint($small_desktop-x){
            width: 60%;
            height: auto;
            margin: 60px auto 0;
            padding: 0 15px 0;
            text-align: center;
            box-sizing: border-box;
        }
        @include susy-breakpoint($mid-pad-x){
            width: 88%;
        }
        @include susy-breakpoint($small_screen){
            width: 60%;
        }       
        ul{
            li{
                display:inline-block;
                margin-right:74px;
                @include susy-breakpoint($small_desktop-x){
                    margin-right:0;
                }   
                &:first-child{
                    margin-left: 105px;
                    @include susy-breakpoint($small_desktop-x){
                        margin-left:0;
                    } 
                }
                &:last-child{
                    margin-right: 105px;
                    @include susy-breakpoint($small_desktop-x){
                        margin-right:0;
                    } 
                }
                a{
                    display:block;
                    text-decoration: none;
                    width: 114px;
                    //height: 112px;
                    background-color:black;
                    color:white;
                    text-align: center;
                    padding: 46px 0;
                    @include susy-breakpoint($small_desktop-x){
                        width: 100px;
                        font-size: 18px;
                    }
                    @include susy-breakpoint($mid-pad-x){
                        font-size:16px;
                    }   
                    &.active{
                        color:black;
                        background-color:white;
                    }
                    
                }
            }
        }
    }
    .product_list{
        ul{
            width: 764px;
            margin: 0 auto;
            margin-top: 140px;
            li{
                width:230px;
                float:left;
                margin-right: 22px;
                margin-bottom: 175px;
                &:nth-child(2n){
                    margin-right:0px;
                }
                @include susy-breakpoint(('max-width':870px)){
                    width: 108px;
                }
                a{
                    text-decoration: none;
                    display: block;
                    &:hover{
                        img{
                            -moz-transform: scale(1.1);
                            -webkit-transform: scale(1.1);
                            -o-transform: scale(1.1);
                            -ms-transform: scale(1.1);
                            transform: scale(1.1);
                            -webkit-transition-duration: .2s;
                            -o-transition-duration: .2s;
                            transition-duration: .2s;  
                        }
                    }
                }
                img{
                    width: 230px;
                    height: 292px;
                    @include susy-breakpoint(('max-width':870px)){
                        width: 108px;
                        height: 136px;
                    }
                }
                p{
                    margin-top:58px;
                    font-size: 20px;
                    line-height: normal;
                    letter-spacing: normal;
                    color: black;
                    text-align: center;
                    @include susy-breakpoint($small_screen){
                        font-size:16px;
                    }
                }
            }
        }
        ul.product_block{
            display:none;
            &.active{
                display:block;
            }
            @include susy-breakpoint($small_desktop-x){
                width: 90%;
                box-sizing: border-box;
                padding-left: calc((90% - 756px) / 2);
            }
            @include susy-breakpoint(('max-width':870px)){
                width: 60%;
                padding-left: calc((60% - 390px) / 2);
            }
            @include susy-breakpoint(('max-width':666px)){
                width: 60%;
                padding-left: calc((60% - 260px) / 2);
            }
            @include susy-breakpoint($small_screen){
                width: 66%;
                padding-left: calc((66% - 238px) / 2);
            }
            @include susy-breakpoint($iphone_se){
                width: 82%;
                padding-left: calc((82% - 238px) / 2);
            }
        }
    }
}