@import "base";

.content_block{
    max-width:1280px;
    width: auto;
    height:auto;
    font-size: 20px;
    margin: 30px auto 140px;
    padding:0 15px;
    // @include susy-breakpoint($small_desktop-x){
    //     width: 100%;
    // }
    .product_leftside{
        float:left;
        width:40%;
        padding-left: 100px;
        box-sizing: border-box;
        .leftside_photo{
            width:72px;
            display: inline-block;
            float: left;
            margin-right: 20px;
            a{
                text-decoration: none;
                display:block;
                border:0.5px solid white;
                margin-bottom: 16px;
                box-sizing: border-box;
                height: 155px;
                &:hover,&.active{
                    border: 0.5px solid #858585;
                    border-top: 0.5px solid #858585;
                }  
                img{
                    width:70px;
                    height:88.5px;
                    padding-top:0.5px;
                    padding-top: 33px;
                }
                &:nth-child(2){
                    border-top: 0.5px solid white;
                    &:hover,&.active{
                        border-top: 0.5px solid #858585;
                    }
                }
            }
        }
        .rightside_photo{
            display:inline-block;
            float: left;
            height: 495px;
            border: solid 1px #858585;
            img{
                display:none;
                width:230px;
                height:291px;
                padding-top: 103px;
                &.active{
                    display:block;
                }
            }
        }
    }
    .product_rightside{
        h1{
            font-size: 48px;
            line-height: normal;
            margin-bottom: 28px;
        }
        h2{
            font-size: 20px;
            line-height: normal;
            margin-bottom: 18px;
        }
    }  
}