@charset "UTF-8";
/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: ""; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* perfect-scrollbar v0.6.11 */
.ps-container {
  -ms-touch-action: none;
  touch-action: none;
  overflow: hidden !important;
  -ms-overflow-style: none; }

@supports (-ms-overflow-style: none) {
  .ps-container {
    overflow: auto !important; } }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps-container {
    overflow: auto !important; } }

.ps-container.ps-active-x > .ps-scrollbar-x-rail,
.ps-container.ps-active-y > .ps-scrollbar-y-rail {
  display: block;
  background-color: transparent; }

.ps-container.ps-in-scrolling {
  pointer-events: none; }

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: #eee;
  opacity: 0.9; }

.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: #999; }

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #eee;
  opacity: 0.9; }

.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #999; }

.ps-container > .ps-scrollbar-x-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  -moz-transition: background-color .2s linear, opacity .2s linear;
  -o-transition: background-color .2s linear, opacity .2s linear;
  transition: background-color .2s linear, opacity .2s linear;
  bottom: 3px;
  /* there must be 'bottom' for ps-scrollbar-x-rail */
  height: 8px; }

.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  position: absolute;
  /* please don't change 'position' */
  background-color: #aaa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color .2s linear;
  -moz-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
  bottom: 0;
  /* there must be 'bottom' for ps-scrollbar-x */
  height: 8px; }

.ps-container > .ps-scrollbar-y-rail {
  display: none;
  position: absolute;
  /* please don't change 'position' */
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  opacity: 0.2;
  -webkit-transition: background-color .2s linear, opacity .2s linear;
  -moz-transition: background-color .2s linear, opacity .2s linear;
  -o-transition: background-color .2s linear, opacity .2s linear;
  transition: background-color .2s linear, opacity .2s linear;
  right: 3px;
  /* there must be 'right' for ps-scrollbar-y-rail */
  width: 8px; }

.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  position: absolute;
  /* please don't change 'position' */
  background-color: #aaa;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-transition: background-color .2s linear;
  -moz-transition: background-color .2s linear;
  -o-transition: background-color .2s linear;
  transition: background-color .2s linear;
  right: 0;
  /* there must be 'right' for ps-scrollbar-y */
  width: 8px; }

.ps-container:hover.ps-in-scrolling {
  pointer-events: none; }

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: #eee;
  opacity: 0.9; }

.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: #999; }

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #eee;
  opacity: 0.9; }

.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #999; }

.ps-container:hover > .ps-scrollbar-x-rail,
.ps-container:hover > .ps-scrollbar-y-rail {
  opacity: 0.6; }

.ps-container:hover > .ps-scrollbar-x-rail:hover {
  background-color: #eee;
  opacity: 0.9; }

.ps-container:hover > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x {
  background-color: #999; }

.ps-container:hover > .ps-scrollbar-y-rail:hover {
  background-color: #eee;
  opacity: 0.9; }

.ps-container:hover > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y {
  background-color: #999; }

header {
  margin: 0 auto; }

body {
  font-family: "微軟正黑體", "Microsoft JhengHei", "Adobe 繁黑體 Std B", "儷黑 Pro"; }
  body.open {
    overflow: hidden; }

body, html {
  position: relative;
  width: 100%;
  height: 100%; }

.bigger_header {
  height: 105px;
  width: 100%;
  box-shadow: -1px 2px 5px 2px #E4E4E4;
  -webkit-box-shadow: -1px 2px 5px 2px #E4E4E4;
  -moz-box-shadow: -1px 2px 5px 2px #E4E4E4;
  -o-box-shadow: -1px 2px 5px 2px #E4E4E4; }
  @media (min-width: 1280px) {
    .bigger_header {
      position: fixed;
      width: 100%;
      background-color: white;
      z-index: 900; } }

header.header {
  height: 105px;
  margin: 0 auto;
  padding: 15px 50px 29px 50px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%;
  position: fixed;
  background-color: white;
  z-index: 999; }
  @media (min-width: 1280px) {
    header.header {
      margin-left: calc((100% - 1280px) / 2); } }
  header.header a.logo {
    position: absolute;
    top: 41px;
    width: 155px;
    height: 39px;
    display: block;
    text-decoration: none;
    background: url(../images/img-logo@2x.png) no-repeat;
    background-size: 155px 39px;
    background-position: 0px 0; }
    @media (max-width: 530px) {
      header.header a.logo {
        top: 30px; } }
    @media (max-width: 400px) {
      header.header a.logo {
        left: 10px; } }
  header.header .language {
    float: right; }
    @media (max-width: 1024px) {
      header.header .language {
        margin-right: -30px; } }
    header.header .language a {
      text-decoration: none;
      color: #000000;
      opacity: 0.2; }
      header.header .language a.active {
        opacity: 1; }
      header.header .language a::after {
        content: ' / ';
        display: inline-block; }
      header.header .language a:last-child::after {
        display: none; }
  header.header ul.nav_mainpage {
    float: right;
    margin-top: 14px; }
    @media (max-width: 1024px) {
      header.header ul.nav_mainpage {
        display: none;
        float: none;
        z-index: 800;
        position: absolute;
        left: 0px;
        right: 0px;
        background: #121212;
        height: 600px;
        top: 70px;
        margin: 0 auto;
        overflow: hidden;
        background: white;
        top: 82px; }
        header.header ul.nav_mainpage.active {
          display: block; } }
    @media (max-width: 530px) {
      header.header ul.nav_mainpage {
        display: none; }
        header.header ul.nav_mainpage.active {
          display: block;
          height: calc(100% - 60px);
          position: fixed; } }
    header.header ul.nav_mainpage li {
      display: inline-block;
      margin-right: 30px; }
      header.header ul.nav_mainpage li:last-child {
        margin-right: 0; }
        @media (max-width: 1024px) {
          header.header ul.nav_mainpage li:last-child {
            margin: 0 auto;
            width: 120px; } }
      @media (max-width: 1024px) {
        header.header ul.nav_mainpage li:first-child {
          margin-top: 74px; } }
      @media (max-width: 1024px) {
        header.header ul.nav_mainpage li {
          display: block;
          width: 96px;
          text-align: center;
          margin: 0 auto 36px; } }
      header.header ul.nav_mainpage li a {
        text-decoration: none;
        display: block;
        color: #000000;
        font-weight: bold;
        font-size: 24px;
        border-bottom: 3px solid white;
        padding-bottom: 8px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        @media (max-width: 1024px) {
          header.header ul.nav_mainpage li a {
            font-size: 19px; } }
        header.header ul.nav_mainpage li a:hover {
          border-bottom: 3px solid black; }
      header.header ul.nav_mainpage li ul.submenu {
        display: none; }
        header.header ul.nav_mainpage li ul.submenu.active {
          display: block; }
    header.header ul.nav_mainpage li.product {
      position: relative; }
      header.header ul.nav_mainpage li.product ul {
        width: 159px;
        position: absolute;
        box-shadow: -1px 2px 5px 2px #E4E4E4;
        -webkit-box-shadow: -1px 2px 5px 2px #E4E4E4;
        -moz-box-shadow: -1px 2px 5px 2px #E4E4E4;
        -o-box-shadow: -1px 2px 5px 2px #E4E4E4;
        background-color: white;
        left: -29px;
        top: 35px;
        padding-bottom: 20px; }
        @media (max-width: 1024px) {
          header.header ul.nav_mainpage li.product ul {
            top: 30px;
            left: -34px; } }
        @media (max-width: 530px) {
          header.header ul.nav_mainpage li.product ul {
            left: -12px;
            width: 119px; } }
        header.header ul.nav_mainpage li.product ul li {
          margin-left: 29px;
          margin-top: 20px; }
          @media (max-width: 1024px) {
            header.header ul.nav_mainpage li.product ul li {
              width: 107px;
              text-align: center; } }
          @media (max-width: 530px) {
            header.header ul.nav_mainpage li.product ul li {
              margin-left: auto; } }
          header.header ul.nav_mainpage li.product ul li a {
            font-size: 20px;
            font-weight: bold; }

a.main_menu_hamburger {
  display: none; }
  @media (max-width: 1024px) {
    a.main_menu_hamburger {
      display: table-row;
      position: fixed;
      top: 45px;
      right: 15px;
      z-index: 999;
      text-decoration: none;
      -webkit-transition: all 0.3s 0s;
      -o-transition: all 0.3s 0s;
      transition: all 0.3s 0s;
      width: 40px;
      height: 40px; }
      a.main_menu_hamburger span {
        display: block;
        height: 1px;
        width: 30px;
        background: #121212;
        margin: 0 auto;
        -webkit-transition: all .4s 0s;
        -o-transition: all .4s 0s;
        transition: all .4s 0s;
        -webkit-transform: rotate(0deg) translate(0, 0);
        -ms-transform: rotate(0deg) translate(0, 0);
        transform: rotate(0deg) translate(0, 0); } }
    @media (max-width: 1024px) and (max-width: 530px) {
      a.main_menu_hamburger span {
        width: 20px; } }
  @media (max-width: 1024px) {
      a.main_menu_hamburger span.line2 {
        margin: 8px auto; } }
    @media (max-width: 1024px) and (max-width: 530px) {
      a.main_menu_hamburger span.line2 {
        margin: 4px auto; } }
  @media (max-width: 1024px) {
      a.main_menu_hamburger.active span {
        -webkit-transition: all .2s 0s;
        -o-transition: all .2s 0s;
        transition: all .2s 0s; }
      a.main_menu_hamburger.active span.line1 {
        -webkit-transform: translate(0, 8px) rotate(45deg);
        -ms-transform: translate(0, 8px) rotate(45deg);
        transform: translate(0, 8px) rotate(45deg); } }
    @media (max-width: 1024px) and (max-width: 530px) {
      a.main_menu_hamburger.active span.line1 {
        -webkit-transform: translate(0, 5px) rotate(45deg);
        -ms-transform: translate(0, 5px) rotate(45deg);
        transform: translate(0, 5px) rotate(45deg); } }
  @media (max-width: 1024px) {
      a.main_menu_hamburger.active span.line3 {
        -webkit-transform: translate(0, -10px) rotate(-45deg);
        -ms-transform: translate(0, -10px) rotate(-45deg);
        transform: translate(0, -10px) rotate(-45deg); } }
    @media (max-width: 1024px) and (max-width: 530px) {
      a.main_menu_hamburger.active span.line3 {
        -webkit-transform: translate(0, -5px) rotate(-45deg);
        -ms-transform: translate(0, -5px) rotate(-45deg);
        transform: translate(0, -5px) rotate(-45deg); } }
  @media (max-width: 1024px) {
      a.main_menu_hamburger.active span.line2 {
        opacity: 0; } }
  @media (max-width: 530px) {
    a.main_menu_hamburger {
      right: 19px;
      width: 20px;
      width: 20px; } }

footer {
  width: 100%;
  height: 225px;
  background-color: #e6e6e6; }
  @media (max-width: 1139px) {
    footer {
      height: 458px; } }
  footer .footer_block {
    margin: 0 auto;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 45px 50px 25px;
    position: relative;
    max-width: 1280px;
    width: 100%; }
    footer .footer_block ul.footer_infor {
      width: 714px;
      margin-bottom: 40px; }
      @media (max-width: 1139px) {
        footer .footer_block ul.footer_infor {
          width: 150px; } }
      @media (max-width: 530px) {
        footer .footer_block ul.footer_infor {
          margin-top: 75px;
          margin-bottom: 0; } }
      footer .footer_block ul.footer_infor li {
        display: inline-block;
        float: left; }
        @media (max-width: 1139px) {
          footer .footer_block ul.footer_infor li {
            display: block;
            margin-bottom: 20px; } }
        footer .footer_block ul.footer_infor li a {
          text-decoration: none;
          display: block;
          color: black;
          margin-right: 62px;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 1px; }
      footer .footer_block ul.footer_infor li:last-child a {
        margin-right: 0; }
    footer .footer_block div h4 {
      font-size: 12px;
      line-height: 16px; }
      @media (max-width: 530px) {
        footer .footer_block div h4 {
          line-height: 20px; } }
    footer .footer_block h6 {
      font-size: 12px;
      text-align: center;
      margin-top: 25px; }
    footer .footer_block .social_link {
      position: absolute;
      right: 50px;
      top: 30px;
      width: 280px;
      height: 55px; }
      @media (max-width: 530px) {
        footer .footer_block .social_link {
          right: 0;
          width: 250px; } }
      @media (max-width: 400px) {
        footer .footer_block .social_link {
          width: 210px; } }
      footer .footer_block .social_link a {
        display: inline-block;
        text-decoration: none;
        width: 55px;
        height: 55px;
        background-size: 55px 55px;
        background-position: 0px 0;
        margin-left: 30px; }
      footer .footer_block .social_link a.footer_fb {
        background: url(../images/icon-fb@2x.png) no-repeat;
        background-size: auto 55px;
        background-position: 0px 0;
        width: 30px;
        height: 30px;
        background-size: auto 30px; }
        @media (max-width: 400px) {
          footer .footer_block .social_link a.footer_fb {
            margin-left: 20px; } }
      footer .footer_block .social_link a.footer_ig {
        background: url(../images/icon-ig@2x.png) no-repeat;
        background-size: 55px 55px;
        background-position: 0px 0;
        width: 30px;
        height: 30px;
        background-size: auto 30px; }
        @media (max-width: 400px) {
          footer .footer_block .social_link a.footer_ig {
            margin-left: 20px; } }
      footer .footer_block .social_link a.footer_yt {
        background: url(../images/icon-youtube@2x.png) no-repeat;
        padding-top: 20px;
        width: 60px;
        height: 30px;
        background-size: auto 30px;
        background-position: 0px 20px;
        margin-left: 40px; }
        @media (max-width: 400px) {
          footer .footer_block .social_link a.footer_yt {
            margin-left: 30px; } }

.title_block {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 112px;
  background-color: rgba(230, 230, 230, 0.5); }
  @media (min-width: 1280px) {
    .title_block {
      padding-top: 105px; } }
  @media (max-width: 1139px) {
    .title_block {
      height: 57px; } }
  .title_block .content_title {
    width: 1000px;
    margin: 0 auto; }
    @media (max-width: 1139px) {
      .title_block .content_title {
        padding: 15px;
        padding-top: 10px;
        padding-bottom: 0px;
        width: 100%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; } }
    .title_block .content_title .page_title {
      font-size: 60px;
      margin-left: 225px;
      margin-top: 35px; }
      @media (max-width: 1139px) {
        .title_block .content_title .page_title {
          font-weight: bold;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin-left: 0px;
          margin-top: 20px;
          text-align: center;
          font-size: 24px; } }
    .title_block .content_title a {
      display: inline-block;
      text-decoration: none;
      font-size: 16px;
      color: black;
      margin-top: 26px; }
      .title_block .content_title a:first-child {
        margin-left: 52px;
        border-bottom: 1px solid black; }
        @media (max-width: 1139px) {
          .title_block .content_title a:first-child {
            margin-left: 0px; } }
      @media (max-width: 1139px) {
        .title_block .content_title a {
          margin-top: 0px;
          font-size: 12px; } }
      @media (max-width: 530px) {
        .title_block .content_title a {
          font-size: 12px; } }
    .title_block .content_title span {
      display: inline-block;
      color: #858585;
      margin: 0 4px; }

.container_block {
  width: 1000px;
  margin: auto;
  padding: 50px;
  padding-top: 105px;
  padding-bottom: 140px; }
  @media (max-width: 1139px) {
    .container_block {
      width: 100%;
      padding: 15px;
      padding-top: 40px;
      padding-bottom: 50px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; } }
