/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: ""; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.bigger_header {
  height: 105px;
  width: 100%;
  box-shadow: -1px 2px 5px 2px #E4E4E4;
  -webkit-box-shadow: -1px 2px 5px 2px #E4E4E4;
  -moz-box-shadow: -1px 2px 5px 2px #E4E4E4;
  -o-box-shadow: -1px 2px 5px 2px #E4E4E4; }

header.header {
  height: 105px;
  margin: 0 auto;
  padding: 15px 50px 29px 50px;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 1280px;
  width: 100%; }
  @media (max-width: 1024px) {
    header.header {
      display: none; } }
  header.header a.logo {
    position: absolute;
    top: 41px;
    width: 155px;
    height: 39px;
    display: block;
    text-decoration: none;
    background: url(../images/img-logo@2x.png) no-repeat;
    background-size: 155px 39px;
    background-position: 0px 0; }
  header.header .language {
    float: right; }
    header.header .language a {
      text-decoration: none;
      color: #000000;
      opacity: 0.2; }
      header.header .language a.active {
        opacity: 1; }
      header.header .language a::after {
        content: ' / ';
        display: inline-block; }
      header.header .language a:last-child::after {
        display: none; }
  header.header ul.nav_mainpage {
    float: right;
    margin-top: 14px; }
    header.header ul.nav_mainpage li {
      display: inline-block;
      margin-right: 30px; }
      header.header ul.nav_mainpage li:last-child {
        margin-right: 0; }
      header.header ul.nav_mainpage li a {
        text-decoration: none;
        display: block;
        color: #000000;
        font-weight: bold;
        font-size: 24px;
        border-bottom: 3px solid white;
        padding-bottom: 8px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; }
        header.header ul.nav_mainpage li a:hover {
          border-bottom: 3px solid black; }
      header.header ul.nav_mainpage li ul.submenu {
        display: none; }
        header.header ul.nav_mainpage li ul.submenu.active {
          display: block; }
    header.header ul.nav_mainpage li.product {
      position: relative; }
      header.header ul.nav_mainpage li.product ul {
        width: 159px;
        position: absolute;
        box-shadow: -1px 2px 5px 2px #E4E4E4;
        -webkit-box-shadow: -1px 2px 5px 2px #E4E4E4;
        -moz-box-shadow: -1px 2px 5px 2px #E4E4E4;
        -o-box-shadow: -1px 2px 5px 2px #E4E4E4;
        background-color: white;
        left: -29px;
        top: 35px;
        padding-bottom: 20px; }
        header.header ul.nav_mainpage li.product ul li {
          margin-left: 29px;
          margin-top: 20px; }
          header.header ul.nav_mainpage li.product ul li a {
            font-size: 20px;
            font-weight: bold; }

footer {
  width: 100%;
  height: 225px;
  background-color: #e6e6e6; }
  footer .footer_block {
    margin: 0 auto;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 45px 50px 25px;
    position: relative;
    max-width: 1280px;
    width: 100%; }
    footer .footer_block ul.footer_infor {
      width: 714px;
      margin-bottom: 40px; }
      @media (max-width: 1139px) {
        footer .footer_block ul.footer_infor {
          width: 150px; } }
      footer .footer_block ul.footer_infor li {
        display: inline-block;
        float: left; }
        @media (max-width: 1139px) {
          footer .footer_block ul.footer_infor li {
            display: block; } }
        footer .footer_block ul.footer_infor li a {
          text-decoration: none;
          display: block;
          color: black;
          margin-right: 62px;
          font-size: 16px;
          font-weight: bold;
          letter-spacing: 1px; }
      footer .footer_block ul.footer_infor li:last-child a {
        margin-right: 0; }
    footer .footer_block div h4 {
      font-size: 12px;
      line-height: 16px; }
    footer .footer_block h6 {
      font-size: 12px;
      text-align: center;
      margin-top: 25px; }
    footer .footer_block .social_link {
      position: absolute;
      right: 50px;
      top: 30px;
      width: 280px;
      height: 55px; }
      footer .footer_block .social_link a {
        display: inline-block;
        text-decoration: none;
        width: 55px;
        height: 55px;
        background-size: 55px 55px;
        background-position: 0px 0;
        margin-left: 30px; }
      footer .footer_block .social_link a.footer_fb {
        background: url(../images/icon-fb@2x.png) no-repeat;
        background-size: auto 55px;
        background-position: 0px 0; }
      footer .footer_block .social_link a.footer_ig {
        background: url(../images/icon-ig@2x.png) no-repeat;
        background-size: 55px 55px;
        background-position: 0px 0; }
      footer .footer_block .social_link a.footer_yt {
        background: url(../images/icon-youtube@2x.png) no-repeat;
        background-size: 55px auto;
        padding-top: 20px;
        background-position: 10px 26px;
        width: 65px; }

.title_block {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 112px;
  background-color: rgba(230, 230, 230, 0.5); }
  .title_block .content_title {
    width: 1000px;
    margin: 0 auto; }
    @media (max-width: 1139px) {
      .title_block .content_title {
        width: 100%; } }
    .title_block .content_title .page_title {
      font-size: 60px;
      margin-left: 225px;
      margin-top: 35px; }
      @media (max-width: 530px) {
        .title_block .content_title .page_title {
          font-size: 24px;
          font-weight: bold;
          margin-top: 60px; } }
    .title_block .content_title a {
      display: inline-block;
      text-decoration: none;
      font-size: 16px;
      color: black;
      margin-top: 26px; }
      .title_block .content_title a:first-child {
        margin-left: 52px; }
      @media (max-width: 530px) {
        .title_block .content_title a {
          font-size: 12px; } }
    .title_block .content_title span {
      display: inline-block;
      color: #858585;
      margin: 0 4px; }

.container_block {
  width: 1000px;
  margin: auto;
  padding: 50px;
  padding-top: 105px;
  padding-bottom: 140px; }
  @media (max-width: 1139px) {
    .container_block {
      width: 100%;
      padding: 15px;
      padding-top: 40px;
      padding-bottom: 50px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; } }
