.subtitle_block {
  margin: 0 auto;
  width: 1280px;
  height: 112px;
  background-color: rgba(230, 230, 230, 0.5); }
  .subtitle_block a {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: black;
    margin-top: 26px; }
    .subtitle_block a:first-child {
      margin-left: 52px; }
  .subtitle_block span {
    display: inline-block;
    color: black;
    margin: 0 4px; }
  .subtitle_block h1 {
    width: 249px;
    height: 74px;
    font-size: 60px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2px;
    color: black;
    margin-top: 45px;
    margin-left: 225px; }

.content_block {
  width: 792px;
  font-size: 24px;
  margin: 65px auto 27px; }
  .content_block p {
    line-height: normal; }
  .content_block img {
    width: 792px;
    height: auto;
    margin: 27px auto 140px; }
