.panel {
  margin: 0 auto; }
  .panel .block1 {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%; }
    .panel .block1 .block1_logo {
      width: 358px;
      height: 90px;
      margin-right: 107px;
      float: right;
      background: url(../images/img-logo@3x.png) no-repeat;
      background-size: 358px 90px;
      background-position: 0px 2px; }
      @media (max-width: 1024px) {
        .panel .block1 .block1_logo {
          display: none; } }
    .panel .block1 .block1_leftside {
      float: left;
      margin-top: 130px;
      background: url(../images/img-bg-homepage@3x.png) no-repeat;
      background-size: 680px 330px;
      background-position: 0px 0;
      width: 680px;
      height: 330px; }
      @media (max-width: 1161px) {
        .panel .block1 .block1_leftside {
          margin-top: 20px; } }
      @media (max-width: 1024px) {
        .panel .block1 .block1_leftside {
          margin-top: 0px;
          width: 60%;
          height: auto;
          min-height: 200px;
          background-size: contain; } }
      @media (max-width: 767px) {
        .panel .block1 .block1_leftside {
          background-size: cover; } }
    @media (max-width: 1024px) {
      .panel .block1 .block1_leftside_phone {
        float: left; } }
    .panel .block1 .block1_leftside_phone h3.block1_content_phone {
      width: 70%;
      font-size: 20px;
      margin: 15px auto 32px;
      line-height: 26px;
      display: none; }
      @media (max-width: 1024px) {
        .panel .block1 .block1_leftside_phone h3.block1_content_phone {
          display: block; } }
      @media (max-width: 530px) {
        .panel .block1 .block1_leftside_phone h3.block1_content_phone {
          font-size: 16px; } }
    .panel .block1 .block1_rightside {
      float: right;
      margin-top: 127px;
      margin-right: 50px;
      background: url(../images/img-bg-homepage-2@3x.png) no-repeat;
      background-size: 453px 460px;
      background-position: 0px 0;
      width: 453px;
      height: 460px; }
      @media (max-width: 1024px) {
        .panel .block1 .block1_rightside {
          margin-top: 0px;
          background-size: contain;
          width: 60%;
          height: auto;
          min-height: 200px; } }
      .panel .block1 .block1_rightside h3.block1_content {
        width: 515px;
        font-size: 20px;
        margin-top: 308px;
        margin-left: -406px;
        line-height: 26px; }
        @media (max-width: 1024px) {
          .panel .block1 .block1_rightside h3.block1_content {
            display: none; } }
  .panel .block2 {
    background: url(../images/block2_bg.png) no-repeat;
    background-size: 1280px 676px;
    background-position: 0px 0;
    height: 676px;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    width: auto;
    max-width: 1280px; }
    @media (max-width: 1172px) {
      .panel .block2 {
        height: 430px; } }
    @media (max-width: 1024px) {
      .panel .block2 {
        background-size: cover; } }
    @media (max-width: 767px) {
      .panel .block2 {
        height: 400px; } }
    @media (max-width: 530px) {
      .panel .block2 {
        height: 344px; } }
    @media (max-width: 400px) {
      .panel .block2 {
        height: 294px; } }
    .panel .block2 ul.slick_title {
      width: 520px;
      margin: 0 auto;
      padding-top: 50px;
      padding-bottom: 39px; }
      @media (max-width: 767px) {
        .panel .block2 ul.slick_title {
          width: 400px; } }
      @media (max-width: 530px) {
        .panel .block2 ul.slick_title {
          width: auto;
          text-align: center; } }
      @media (max-width: 400px) {
        .panel .block2 ul.slick_title {
          padding-bottom: 20px;
          padding-top: 30px; } }
      .panel .block2 ul.slick_title li {
        display: inline-block;
        margin-right: 56px; }
        .panel .block2 ul.slick_title li:last-child {
          margin-right: 0; }
        @media (max-width: 767px) {
          .panel .block2 ul.slick_title li {
            margin-right: 11px; } }
        @media (max-width: 400px) {
          .panel .block2 ul.slick_title li {
            margin-right: 4px; } }
        .panel .block2 ul.slick_title li a {
          display: block;
          text-decoration: none;
          color: #000000;
          padding-bottom: 7px;
          border-bottom: 2px solid rgba(255, 255, 255, 0);
          font-size: 20px;
          letter-spacing: 1px; }
          @media (max-width: 530px) {
            .panel .block2 ul.slick_title li a {
              font-size: 16px; } }
          @media (max-width: 400px) {
            .panel .block2 ul.slick_title li a {
              font-size: 14px; } }
          .panel .block2 ul.slick_title li a:hover {
            border-bottom: 2px solid #000000; }
          .panel .block2 ul.slick_title li a.active {
            border-bottom: 2px solid #000000; }
    .panel .block2 ul.slick_content {
      width: 1060px;
      margin: 0 auto;
      display: none; }
      @media (max-width: 1172px) {
        .panel .block2 ul.slick_content {
          width: 90%; } }
      .panel .block2 ul.slick_content .slick-prev, .panel .block2 ul.slick_content .slick-next {
        background-image: url(../images/icon_move.png);
        height: 68px;
        width: 18px;
        background-size: cover; }
        .panel .block2 ul.slick_content .slick-prev::before, .panel .block2 ul.slick_content .slick-next::before {
          color: transparent; }
      .panel .block2 ul.slick_content .slick-next {
        background-image: url(../images/icon_move_next.png); }
      .panel .block2 ul.slick_content li {
        width: auto !important;
        height: 497px;
        display: inline-block;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-left: 10px; }
        @media (max-width: 1172px) {
          .panel .block2 ul.slick_content li {
            height: 273px;
            margin-left: 60px; } }
        @media (max-width: 1024px) {
          .panel .block2 ul.slick_content li {
            margin-left: 20%; } }
        @media (max-width: 767px) {
          .panel .block2 ul.slick_content li {
            height: 233px;
            margin-left: 18%; } }
        @media (max-width: 530px) {
          .panel .block2 ul.slick_content li {
            height: 203px;
            margin-left: 12%; } }
        @media (max-width: 400px) {
          .panel .block2 ul.slick_content li {
            height: 190px; } }
        .panel .block2 ul.slick_content li a {
          text-decoration: none;
          display: block;
          height: 100%;
          overflow: hidden;
          padding-top: 35px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          background-color: white; }
          @media (max-width: 767px) {
            .panel .block2 ul.slick_content li a {
              padding-top: 15px; } }
          @media (max-width: 530px) {
            .panel .block2 ul.slick_content li a {
              height: 100%; } }
          @media (max-width: 400px) {
            .panel .block2 ul.slick_content li a {
              padding-top: 30px; } }
          .panel .block2 ul.slick_content li a:hover img {
            -moz-transform: scale(1.1);
            -webkit-transform: scale(1.1);
            -o-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            -webkit-transition-duration: .2s;
            -o-transition-duration: .2s;
            transition-duration: .2s; }
            @media (max-width: 530px) {
              .panel .block2 ul.slick_content li a:hover img {
                -moz-transform: initial;
                -webkit-transform: initial;
                -o-transform: initial;
                -ms-transform: initial;
                transform: initial;
                -webkit-transition-duration: initial;
                -o-transition-duration: initial;
                transition-duration: initial; } }
          .panel .block2 ul.slick_content li a:focus {
            outline: none; }
          .panel .block2 ul.slick_content li a img {
            height: 292px; }
            @media (max-width: 1172px) {
              .panel .block2 ul.slick_content li a img {
                height: 161px; } }
            @media (max-width: 767px) {
              .panel .block2 ul.slick_content li a img {
                height: 150px; } }
            @media (max-width: 530px) {
              .panel .block2 ul.slick_content li a img {
                height: 120px; } }
            @media (max-width: 400px) {
              .panel .block2 ul.slick_content li a img {
                height: 95px; } }
          .panel .block2 ul.slick_content li a img.product_name {
            width: 63px;
            height: 130px; }
          .panel .block2 ul.slick_content li a p {
            color: black;
            text-align: center;
            margin-top: 62px; }
            @media (max-width: 1172px) {
              .panel .block2 ul.slick_content li a p {
                margin-top: 30px; } }
            @media (max-width: 530px) {
              .panel .block2 ul.slick_content li a p {
                font-size: 12px;
                margin-top: 15px; } }
    .panel .block2 ul.slick_content {
      display: none; }
      .panel .block2 ul.slick_content.active {
        display: block; }
  .panel .block3 {
    margin-top: 51px;
    width: 920px;
    margin: 51px auto 140px;
    height: auto;
    min-height: 456px; }
    @media (max-width: 1024px) {
      .panel .block3 {
        width: 100%;
        padding: 0 15px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; } }
    @media (max-width: 530px) {
      .panel .block3 {
        min-height: 183px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin-bottom: 51px; } }
    .panel .block3 h2 {
      font-size: 48px;
      color: #000000;
      font-weight: bold;
      letter-spacing: 2px;
      margin-bottom: 26px; }
      @media (max-width: 530px) {
        .panel .block3 h2 {
          font-size: 24px; } }
    .panel .block3 ul {
      background-color: #000000;
      color: white;
      padding: 69px 69px;
      width: 100%;
      height: auto;
      position: relative;
      -webkit-box-sizing: border-box;
      box-sizing: border-box; }
      @media (max-width: 530px) {
        .panel .block3 ul {
          padding: 15px;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          padding-bottom: 50px; } }
      .panel .block3 ul li {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 40px; }
        @media (max-width: 530px) {
          .panel .block3 ul li {
            font-size: 16px;
            margin-bottom: 0px; } }
        @media (max-width: 530px) {
          .panel .block3 ul li:last-child {
            margin-bottom: 25px; } }
        .panel .block3 ul li a {
          text-decoration: none;
          display: block;
          color: white;
          padding-bottom: 20px;
          max-width: 320px;
          border-bottom: 1px solid black; }
          .panel .block3 ul li a span {
            margin-left: 60px;
            font-weight: initial; }
          .panel .block3 ul li a:hover {
            border-bottom: 1px solid white; }
      .panel .block3 ul a.more_news {
        text-decoration: none;
        display: block;
        color: white;
        border-bottom: 1px solid white;
        width: 64px;
        height: 20px;
        position: absolute;
        right: 59px;
        bottom: 28px; }
      .panel .block3 ul a.more_news_arrow {
        text-decoration: none;
        display: block;
        background: url(../images/icon-move-xs-white@2x.png) no-repeat;
        background-size: 8px 16px;
        background-position: 0px 0;
        right: 28px;
        bottom: 28px;
        width: 8px;
        height: 16px;
        position: absolute;
        bottom: 30px; }
