.content_block {
  max-width: 1280px;
  width: auto;
  height: auto;
  font-size: 20px;
  margin: 30px auto 140px;
  padding: 0 15px; }
  .content_block .product_leftside {
    float: left;
    width: 40%;
    padding-left: 100px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    .content_block .product_leftside .leftside_photo {
      width: 72px;
      display: inline-block;
      float: left;
      margin-right: 20px; }
      .content_block .product_leftside .leftside_photo a {
        text-decoration: none;
        display: block;
        border: 0.5px solid white;
        margin-bottom: 16px;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        height: 155px; }
        .content_block .product_leftside .leftside_photo a:hover, .content_block .product_leftside .leftside_photo a.active {
          border: 0.5px solid #858585;
          border-top: 0.5px solid #858585; }
        .content_block .product_leftside .leftside_photo a img {
          width: 70px;
          height: 88.5px;
          padding-top: 0.5px;
          padding-top: 33px; }
        .content_block .product_leftside .leftside_photo a:nth-child(2) {
          border-top: 0.5px solid white; }
          .content_block .product_leftside .leftside_photo a:nth-child(2):hover, .content_block .product_leftside .leftside_photo a:nth-child(2).active {
            border-top: 0.5px solid #858585; }
    .content_block .product_leftside .rightside_photo {
      display: inline-block;
      float: left;
      height: 495px;
      border: solid 1px #858585; }
      .content_block .product_leftside .rightside_photo img {
        display: none;
        width: 230px;
        height: 291px;
        padding-top: 103px; }
        .content_block .product_leftside .rightside_photo img.active {
          display: block; }
  .content_block .product_rightside h1 {
    font-size: 48px;
    line-height: normal;
    margin-bottom: 28px; }
  .content_block .product_rightside h2 {
    font-size: 20px;
    line-height: normal;
    margin-bottom: 18px; }
