.content_block {
  width: 920px;
  height: auto;
  font-size: 20px;
  margin: 30px auto 140px; }
  @media (max-width: 1024px) {
    .content_block {
      width: 100%; } }
  .content_block .title_menu {
    width: 100%;
    height: 112px;
    background-color: #000000;
    margin-top: 60px; }
    @media (max-width: 1024px) {
      .content_block .title_menu {
        width: 60%;
        height: auto;
        margin: 60px auto 0;
        padding: 0 15px 0;
        text-align: center;
        -webkit-box-sizing: border-box;
        box-sizing: border-box; } }
    @media (max-width: 767px) {
      .content_block .title_menu {
        width: 88%; } }
    @media (max-width: 530px) {
      .content_block .title_menu {
        width: 60%; } }
    .content_block .title_menu ul li {
      display: inline-block;
      margin-right: 74px; }
      @media (max-width: 1024px) {
        .content_block .title_menu ul li {
          margin-right: 0; } }
      .content_block .title_menu ul li:first-child {
        margin-left: 105px; }
        @media (max-width: 1024px) {
          .content_block .title_menu ul li:first-child {
            margin-left: 0; } }
      .content_block .title_menu ul li:last-child {
        margin-right: 105px; }
        @media (max-width: 1024px) {
          .content_block .title_menu ul li:last-child {
            margin-right: 0; } }
      .content_block .title_menu ul li a {
        display: block;
        text-decoration: none;
        width: 114px;
        background-color: black;
        color: white;
        text-align: center;
        padding: 46px 0; }
        @media (max-width: 1024px) {
          .content_block .title_menu ul li a {
            width: 100px;
            font-size: 18px; } }
        @media (max-width: 767px) {
          .content_block .title_menu ul li a {
            font-size: 16px; } }
        .content_block .title_menu ul li a.active {
          color: black;
          background-color: white; }
  .content_block .product_list ul {
    width: 764px;
    margin: 0 auto;
    margin-top: 140px; }
    .content_block .product_list ul li {
      width: 230px;
      float: left;
      margin-right: 22px; }
      @media (max-width: 870px) {
        .content_block .product_list ul li {
          width: 108px; } }
      .content_block .product_list ul li img {
        width: 230px;
        height: 292px; }
        @media (max-width: 870px) {
          .content_block .product_list ul li img {
            width: 108px;
            height: 136px; } }
      .content_block .product_list ul li p {
        margin-top: 58px;
        font-size: 20px;
        line-height: normal;
        letter-spacing: normal;
        color: black;
        text-align: center; }
        @media (max-width: 530px) {
          .content_block .product_list ul li p {
            font-size: 16px; } }
  .content_block .product_list ul.product_block {
    display: none; }
    .content_block .product_list ul.product_block.active {
      display: block; }
    @media (max-width: 1024px) {
      .content_block .product_list ul.product_block {
        width: 90%;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: calc((90% - 756px) / 2); } }
    @media (max-width: 870px) {
      .content_block .product_list ul.product_block {
        width: 60%;
        padding-left: calc((60% - 390px) / 2); } }
    @media (max-width: 666px) {
      .content_block .product_list ul.product_block {
        width: 60%;
        padding-left: calc((60% - 260px) / 2); } }
